<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>WebSocket</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div id="app" class="container justify-content-center" style="text-align: center;">
		
			<div class="justify-content-center mt-3">
				<h5>WEB-SOCKET - ( Test Developers )</h5>
			</div>
			<br>
			<div class="row justify-content-center" v-if="socket != null">
				<div v-if="configHidden == true">
					<span @click="desconectar()" style="cursor: pointer;" class="small badge badge-danger">Desconectar</span>
					<span @click="ocultarConfiguracion()" class="small badge badge-success" style="cursor: pointer;">Mostrar Configuración</span>
					<span class="small badge badge-secondary">Channel: {{channel}}</span>
				</div>
				<div class="col-12" v-if="configHidden == false">
					<div class="card bg-light mb-3" style="max-width: 25rem;">
					  <div class="card-header">
					  	Configuración actual 
					  </div>
					  <div class="card-body">
					    <!--<h5 class="card-title">Detalle</h5>-->
					    <p class="card-text text-left small">
					    	<label>Host</label>
					    	<input  class="form-control form-control-sm small" :value="url" disabled>
					    </p>
					    <p class="card-text text-left small">
					    	<label>Tu Canal de Transmisión</label>
					    	<input  class="form-control form-control-sm small" :value="channel" disabled title="Con este canal otras personas pueden enviarte mensajes.">
					    </p>
					    <p class="card-text text-left small">
					    	<label>Subscription</label>
					    	<input  class="form-control form-control-sm small" :value="sub+channel" disabled title="Con este canal otras personas pueden enviarte mensajes.">
					    </p>
					    <p class="card-text text-left small">
					    	<label>Transmisión</label>
					    	<input  class="form-control form-control-sm small" :value="send+channelDestination" disabled title="Con este canal otras personas pueden enviarte mensajes.">
					    </p>
					    <p class="card-text text-left">
					    	<span class="small font-weight-bold">Status</span>: 
					    	<span v-if="socket != null" class="small badge badge-success">Conected</span>
					    	<span v-if="socket == null" class="small badge badge-danger">Disconected</span>
					    </p>
					    <hr>
					    <p>
					    	<span @click="desconectar()" style="cursor: pointer;" class="small badge badge-danger">Desconectar</span>
					    	<span @click="ocultarConfiguracion()" style="cursor: pointer;" class="small badge badge-warning">Ocultar configuración</span>
					    </p>
					  </div>
					</div>
				</div>
			</div>
			<div class="row" v-if="socket == null">
				<div class="col-12 col-sm">
					<div class="card bg-light mb-3" style="max-width: 38rem;">
					  <div class="card-header">Configuración</div>
					  <div class="card-body text-center">
						    <!--<h5 class="card-title">Detalle</h5>-->
						    <div>
						    <p class="card-text text-left small">
						    	<label>Url del websocket</label>
						    	<input class="form-control form-control-sm" v-model="url" placeholder="ws://localhost:8004/websocket">
						    </p>
						    <p class="card-text text-left small">
						    	<label>Recurso para la subscripción</label>
						    	<input class="form-control form-control-sm" v-model="sub" placeholder="/topic/notification/">
						    </p>
						    <p class="card-text text-left small">
						    	<label>Recurso para la transmisión</label>
						    	<input class="form-control form-control-sm" v-model="send" placeholder="/app/notification/">
						    </p>
						    <p class="card-text text-left small">
						    	<label>Canal para la transmisión</label>
						    	<input class="form-control form-control-sm" v-model="channel" placeholder="canal personalizado.">
						    </p>
						    <p class="card-text text-left small">
						    	<label>Tu Usuario: </label>
						    	<input class="form-control form-control-sm" v-model="username" placeholder="Escribe tu usuario temporal" title="con este usuario podran identificarte.">
						    </p>
						    <p class="card-text text-center">
						    	<button @click="conectar()" class="btn btn-outline-success btn-sm">Conectar</button>
						    	<a href="https://github.com/rgmatute/websocket-demo" target="__blank">Descargar servidor Websocket</a>
						    </p>
						  </div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row" v-if="socket != null">
				<div class="col-6">
					<div class="card bg-light mb-3" style="max-width: 25rem;">
					  <div class="card-header">Mensajeria</div>
					  <div class="card-body text-center">
						    <!--<h5 class="card-title">Detalle</h5>-->
						    <div>
						    <p class="card-text text-left small">
						    	<label>Canal de Transmisión</label>
						    	<input class="form-control form-control-sm" v-model="channelDestination" placeholder="coloque el canal del usuario destinatario.">
						    </p>
						    <p class="card-text text-left small">
						    	<label>Mensaje: </label>
						    	<textarea class="form-control form-control-sm" v-model="mensaje" placeholder="escriba su mensaje" style="vertical-align: middle;"></textarea>
						    </p>
						    <p class="card-text text-center">
						    	<button @click="transmitir()" class="btn btn-success btn-sm"> Enviar </button>
						    </p>
						  </div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card bg-light mb-3" style="max-width: 35rem;">
					  <div class="card-header">Mensajes</div>
					  <div class="card-body" style="max-height: 15rem; overflow-y: auto;">
						    <div>
						    <p class="card-text text-left small">
						    	<div v-for="mensaje in mensajes">
						    		<span class="small text-left">{{mensaje.date}}</span>
						    		<div class="alert alert-info alert-dismissible fade show" role="alert">
									  <strong>{{mensaje.username}}</strong> {{mensaje.message}}
									  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
									    <span aria-hidden="true">&times;</span>
									  </button>
									</div>
								</div>
						    </p>
						  </div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<pre>{{ $data }}</pre>
			</div> -->
	</div>


	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script type="text/javascript">
		
		var v = new Vue({
			el: "#app",
			data: {
				url: "ws://localhost:8004/websocket",
				channel: "",
				sub: "/topic/notification/",
				send: "/app/notification/",
				mensaje: "",
				username: "",
				channelDestination:"",
				mensajes: [],
				socket: null,
				stompClient: null,
				configHidden: true
			},
			methods: {
				conectar(){
					if(this.channel == ""){
						this.channel = this.generateUUID;
					}
					if(this.socket == null){
						this.socket = new WebSocket(this.url);
				        this.stompClient = Stomp.over(this.socket);
				        let instance = this;
				        //this.stompClient.debug = () => {};
				        this.stompClient.connect({}, ( frame ) => {
				            instance.stompClient.subscribe(instance.sub + instance.channel, ( messageOutput ) => {
				            	instance.mensajes.push(JSON.parse(messageOutput.body));
				            });
				        });
				        console.log("Conectado al ws correctamente..");
					}else{
						alert("ya esta conectado..");
					}
				},
				desconectar(){
					this.stompClient.disconnect();
					this.socket = null;
					this.channel = "";
					this.channelDestination = "";
				},
				ocultarConfiguracion(){
					this.configHidden =! this.configHidden;
				},
				transmitir(){
					let socket = new WebSocket(this.url);
			        let stompClient = Stomp.over(socket);
			        let instance = this;
			        let dataJson = {
			        	username: instance.username,
			        	message: instance.mensaje
			        }
			        //stompClient.debug = () => {};
			        stompClient.connect({}, ( frame ) => {
			            stompClient.send(instance.send + instance.channelDestination, {},JSON.stringify(dataJson));
			            (stompClient != null) ? stompClient.disconnect() : console.log('Not Disconnected');
			        });
				}
			},
			computed:{
				generateUUID(){
				    var dt = new Date().getTime();
				    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
				        var r = (dt + Math.random()*16)%16 | 0;
				        dt = Math.floor(dt/16);
				        return (c=='x' ? r :(r&0x3|0x8)).toString(16);
				    });
				    this.channel = uuid;
				    return this.channel;
				}
			}

		});
	</script>
</body>
</html>